section.download {
    padding: 50px 0;
}

.download-link {
    text-align: center;
}

a.btn-download {
    background-color: #FDC115;
    background-image: -webkit-linear-gradient(top, #FDEA1D 16%, #FDBF15 58%);
    border: 1px solid #FFCD22;
    border-radius: 5px;
    color: #01383D;
    display: inline-block;
    font-size: 24px;
    height: 50px;
    margin: 27px 0px 40px;
    padding-top: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px #FFF9DA;
    width: 250px;
}

a.btn-download:hover {
    background-color: #FDEA1D;
    background-image: -webkit-linear-gradient(top, #FDBF15 16%, #FDEA1D 58%);
}

.screenshot {
    position: relative;
}

.screenshot-text {
    position: absolute;
    margin: -690px 0 0 22px;
}

.screenshot-text p {
    font-family: 'Roboto', sans-serif;
    color: #d0db22;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 49px;
    background: url('images/screenshot_bg.png') no-repeat left top;
    height: 49px;
    margin: 6px 0;
    padding: 0 8px;
    float: left;
    clear: both;
}

.screenshot-text p a, .screenshot-text p a:hover {
    color: #d0db22;
    text-decoration: underline;
}
