<link href='http://fonts.googleapis.com/css?family=Roboto:700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

<section class="download">
    <h2 class="headline1">Программа</h2>
    <div class="screenshot">
        <img src="images/leaderip_screenshot.png" alt="LeaderIP" />
    </div>
    <div class="screenshot-text">
        <p><a href="" title="Скачать">Скачайте</a>,</p>
        <p>Подключайтесь</p>
        <p>И насалждайтей</p>
        <p>Статическим IP адресом.</p>
    </div>
    <div class="download-link">
        <a href="" class="btn-buy btn-download">Download LeaderIP</a>
    </div>
</section>